.carousel {
  border: black solid 1px;
  margin: 5px;
}

.post-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.ancestor-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.voting-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
