.feed {
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  font-family: "Hoefler Text", "Baskerville Old Face", Garamond,
    "Times New Roman";
  color: black;
}
