.feed {
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  font-family: "Hoefler Text", "Baskerville Old Face", Garamond,
    "Times New Roman";
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(250, 235, 215);
  text-decoration-thickness: 4px;
}
