.slide-horizontal {
  position: fixed; /* Make the menu fixed to the viewport */
  top: 0; /* Positions the menu at the top of the viewport */
  left: -94%; /* Positions the menu at the left edge of the viewport */
  transition: all 0.3s ease-in-out; /* Defines the animation for sliding */
  list-style: none;
  padding: 5px 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Makes the menu items display horizontally */
  flex-direction: row; /* Arranges the menu items in a row */
  justify-content: flex-start;
  background-color: #1c1c1d; /* Sets the background color of the menu */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  width: 100%; /* Sets the width of the menu to 100% of the viewport */
  margin-top: 10px;
  z-index: 10; /* Ensures the menu remains above other content (adjust if needed) */
  clip-path: polygon(0% 0%, 100% 0%, 97% 50%, 100% 100%, 0% 100%, 0% 50%);
  border-color: #0645ad;
  box-shadow: 100px 5px 5px black;
}

.slide-horizontal.open {
  /* Styles applied when the menu is open */
  animation: slideOutLeft 0.5s ease-in-out forwards;
}
@keyframes slideOutLeft {
  0% {
    left: -94%;
  }
  70% {
    left: 0%;
  }
  100% {
    left: -10%;
  }
}

.slide-horizontal:hover:not(.open) {
  left: -93%;
  cursor: pointer;
}

a {
  padding-right: 20px;
  padding-left: 20px;
}
#menu {
  margin-left: 25px;
}

.firstLi {
  margin-left: 140px;
}
