.bioBar {
  background-color: #f8f9fa;
  border: solid 1px rgb(87, 84, 84);
  padding: 30px;
  margin: 20px;
}
.user-div button {
  border: none;
  background-color: none;
  color: #0645ad;
  margin: 5px;
  font-size: 0.7em;
}
.user-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
}
